/*generics*/
*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}

/********BODY***********/
body{
    /*overflow-y: hidden;*/
    background-color: #000000;
}

/******HEADER*******/
header{
    height: 5vh;
    border: 1px dashed red;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.comandi-header{
    background-color: #4d4b4b;
    border-radius: 10%;
    color:white;
    padding:2px;
}

.speaker-view{
   margin-right:1%;
}
/******HEADER*******/

/*******MAIN*************/
.container{
    height:85vh;
    border:1px dashed green;
    display: flex;
    align-items: flex-start;    /*il div di class 'contenitore.immagine' viene ad avere altezza pari al div flex-container
                                   e questo perché di default la proprietà align-items(la quale definisce in che modo
                                    i flex-item sono disposti lungo il cross axis) è settata come stretch */
    flex-wrap: wrap;
    justify-content: center;
}

.contenitore-immagine{
    position:relative;
}

.contenitore-immagine img{
    height:130px;
}

.utente{
    position: absolute;
    bottom:10px;
    left:0px;
    color:white;
    background-color: lightgray;
}
/*******MAIN*************/

/******FOOTER************/
footer{
    height:15vh;
    border: 1px dashed blue;
    background-color: #232323;
    display:flex;
    justify-content: space-between;
    color:white;

}

.controlli{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    width:20%;
    padding: 0px 10px;
}

.audio{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;
}

.video{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;
}

.icona{
    width:10px;
}

.barra-centrale{    /*così da mettere il suo contenuto (cioè la unordered-list) al centro*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:70%;
}

.barra-centrale ul{
    display:flex;   /*di default è flex-direction:row;  in questo modo posiziono i list item uno affianco all'altro*/
    list-style-type: none;
    align-items: center;
}

.barra-centrale ul li{  /*così da mettere uno sotto l'altro l'icona ed il link presenti nei vari list item dell'unordered list*/
    display: flex;  
    flex-direction: column;
    align-items:center;
    width:80px;
    height:80px;
    padding:15px;
}

.barra-centrale ul li i{
    height:20px;
}

.barra-centrale ul li a{
    text-decoration: none;
}

.end-meeting{
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:red;
}


/******FOOTER************/