/*generics*/
*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}

/********BODY***********/
body{
    /*overflow-y: hidden;*/
}

/******HEADER*******/
header{
    min-height: 100px;
    border: 1px dashed red;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.comandi-header{
    background-color: #4d4b4b;
    border-radius: 10%;
    color:white;
    padding:2px;
}

.speaker-view{
   margin-right:1%;
}
/******HEADER*******/

/*******MAIN*************/
.container{
    height:calc(100vh - 100px);
    border:1px dashed green;
    display: flex;
    align-items: flex-start;    /*il div di class 'contenitore.immagine' viene ad avere altezza pari al div flex-container
                                   e questo perché di default la proprietà align-items(la quale definisce in che modo
                                    i flex-item sono disposti lungo il cross axis) è settata come stretch */
    flex-wrap: wrap;
}

.contenitore-immagine{
    position:relative;
}

.contenitore-immagine img{
    height:150px;
}

.utente{
    position: absolute;
    bottom:10px;
    left:0px;
    color:white;
    background-color: lightgray;
}





/*******MAIN*************/